body {
    background: #e9e9e9 url(../img/tiny_grid.png) repeat 0 0;
}

/**
 * Beta
 */
.beta {
     position: fixed;
     top: 0;
     right: 0;
     width: 72px;
     height: 72px;
     border: 0;
     z-index: 101;
 }

/**
* Top-navigation
*/
 .logo-version {
     margin-left: 6px;
     font-size: 11px;
     color: #666;

 }

 .subnav-collapse.collapse {
     visibility: visible;
 }




 /**
 * Login
 */
.account-container {
    margin-top: 17%;
}
