/**
 * Beta
 */
.beta {
     position: fixed;
     top: 0;
     right: 0;
     width: 72px;
     height: 72px;
     border: 0;
     z-index: 101;
 }

/**
* Top-navigation
*/
 .logo-version {
     margin-left: 8px;
     font-size: 11px;
     color: #666;

 }

 /**
 * Login
 */
.account-container {
    margin-top: 17%;
}
