/*------------------------------------------------------------------

  [Dashboard specific stylesheet]

   1. Stats
   2. Flot
   3. Application List
   4. Shortcuts
   5. Recent Contributions
   6. Extra Footer
   7. @media (untested)

-------------------------------------------------------------------*/





/*------------------------------------------------------------------
 * 1. Stats
 * ---------------------------------------------------------------*/
.widget-content.dashboard-stats {
	padding-bottom: 0;
}

.stats {
	width: 100%;
	display: table;
	padding: 0 0 0 10px;
	margin-top: 1em;
	margin-bottom: 2.55em;	/* use this to align stats widget height with shortcuts height */
}

.stats .stat {
	display: table-cell;
	width: 40%;
	vertical-align: top;

	font-size: 11px;
	font-weight: bold;
	color: #999;
}

.stat-value {
	display: block;
	margin-bottom: .55em;

	font-size: 30px;
	font-weight: bold;
	letter-spacing: -2px;
	color: #444;
}

.stat-time {
	text-align: center;
	padding-top: 1.5em;
}

.stat-time .stat-value {
	color: #F90;
	font-size: 40px;
}

.stats #donut-chart {
	height: 100px;
	margin-left: -20px;
}


.row.stats > div {
	text-align: center;
}
.stat-value {
	font-size: 45px;
	padding-bottom: 5px;
}
.stat-key {
	font-size: 13px;
	font-weight: bold;
	color: #999;
}


.stat-chart {
	padding-bottom: 0;  /* use this to align stats widget height with shortcuts height */
}
.stat-time {
	padding-top: 1.2em;
}

.stat-value {
	letter-spacing: -4px;
	margin-bottom: 0.11em;

}
.uptime-component {
	padding-right: 10px;
}
.uptime-value {

}
.uptime-key {
	font-size: 26px;
	padding: 0;
	margin: 0;
}
.uptime-title {
	font-size: 13px;
}

/*------------------------------------------------------------------
 * 2. Flot
 * ---------------------------------------------------------------*/
.legendColorBox {
	padding-right: 4px;
}

/*------------------------------------------------------------------
 * 3. Application List
 * ---------------------------------------------------------------*/
td.app-name a {
	padding-left: 4px;
	font-weight: bolder;
}
.app-framework-icon {
	margin-left: 4px;
	margin-right: 5px;
}
.app-actions {
	text-align: center;
}
.app-actions i {
	color: #fff;
}

/*------------------------------------------------------------------
 * 4. Shortcuts
 * ---------------------------------------------------------------*/

[class^="icon-"],
[class*="icon-"] {
	padding-right: 2px;
}
[class^="icon-"]:not(.fa),
[class*="icon-"]:not(.fa) {
	padding-right: 14px;
}
.shortcuts .shortcut {
	margin-right: 10px;
	color: #666;
}
.shortcut-label {
	font-size: 13px;
}
a.shortcut > i {
	display: inline;
}

/*------------------------------------------------------------------
 * 5. Recent Contributions
 * ---------------------------------------------------------------*/
ul.commit-items {
	padding: 0px;
	margin: 1em 0px 0px;
}
li.commit-item {
	border-bottom: 1px dotted #CCC;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
}
li.commit-item.api-failure {
	margin-left: 15px;
}
li.commit-item.api-failure i{
	margin-left: 5px;
}
li.commit-item:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

.commit-item .avatar img {
	margin-top: 1px;
	margin-left: 15px;
	border: 1px solid #c0c0c0;
}

.commit-item .details {
	padding-top: 0px;
}
.commit-item .details a{
	font-weight: bolder;
	margin-left: 22px;
}
.commit-item .details p{
	margin-left: 22px;
	margin-top: -2px;
	margin-bottom: 0px;
	color: #777;
}
.commit-item .details a.sha-link{
	font-size: 10px;
	margin-left: 1px;
	font-weight: normal;
	/*font-style: italic;*/
}

.commit-day {
	display: block;
	margin-bottom: .22em;
	margin-left: 15px;
	margin-top: 2px;
	font-size: 24px;
	color: #888;
}
.commit-month {
	display: block;
	margin-left: 18px;
	font-size: 12px;
	font-weight: 600;
	color: #888;
}

/*------------------------------------------------------------------
 * 6. Extra Footer
 * ---------------------------------------------------------------*/
.extra {
	font-size: 12px;
}
.extra ul li a {
	color: #666;
}
.extra-icon {
	font-size: 23px;
	vertical-align: top;
	margin-right: 5px;
}

/*------------------------------------------------------------------
* 7. @media (untested)
* ---------------------------------------------------------------*/
@media (max-width: 979px) {

}

@media (max-width: 480px) {

	.stats .stat {
		margin-bottom: 3em;
	}

	.stats .stat .stat-value {
		margin-bottom: .15em;
		font-size: 20px;
	}

	.stats {
		float: left;
		display: block;
		margin-bottom: 0;
	}

	#chart-stats {
		margin: 2em 0 1em;
	}
}
